---
Checks: '
         performance*,
         portability*,

         -clang-analyzer-cplusplus.NewDeleteLeaks,
         -misc-unused-parameters,
         -modernize-use-trailing-return-type,
         '
